@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, Object>();

    [Parameter]
    public string? ActiveTab { get; set; }

    [Parameter]
    public EventCallback<Tab?> OnTabChanged { get; set; }

    [Parameter]
    public bool Pills { get; set; }
    
    [Parameter]
    public Size? Size { get; set; }

    public async Task AddTab(Tab tab)
    {
        TabCollection.Add(tab);

        if (TabCollection.Count == 1 || tab.TabId == ActiveTab)
        {
            await SetActiveTab(tab);
        }

        this.StateHasChanged();
    }

    protected async override Task OnParametersSetAsync()
    {
        await SetActiveTab(TabCollection.FirstOrDefault(t => t.TabId == ActiveTab));
    }

    private CssBuilder TabsCssClass => new CssBuilder()
        .AddClass(Pills ? "tabbed" : "tabs")
        .AddClass(Size?.ToCssClass());

    private List<Tab> TabCollection { get; } = new();

    private async Task SetActiveTab(Tab? tab)
    {
        if (tab?.IsActive ?? false)
        {
            return;
        }

        TabCollection.ForEach(t => t.IsActive = false);
        if (tab is not null)
        {
            tab.IsActive = true;
        }

        if (OnTabChanged.HasDelegate)
        {
            await OnTabChanged.InvokeAsync(tab);
            return;
        }
    }
}

<CascadingValue Value="this">
    @ChildContent

    <div @attributes="AdditionalAttributes">
        <nav class="@TabsCssClass">
            @foreach (var tab in TabCollection)
            {
                <a @onclick="() => SetActiveTab(tab)" class=@(tab.IsActive ? "active" : "")>
                    @tab.Title
                </a>
            }
        </nav>

        @foreach (var tab in TabCollection)
        {
            <div class="@tab.CssClass">
                @tab.Content
            </div>
        }
    </div>
</CascadingValue>