@using BeerCss.Blazor.Components.Inputs
@attribute [Stories("Components/Inputs/Select")]

<Stories TComponent="SelectField<string>">
    <ArgType For="_ => _.Size" Control="ControlType.Select" DefaultValue="Size.Medium" />

    <Story Name="Default">
        <Template>
            <EditForm Context="form" Model="_value">
                <SelectField TValue="string" @attributes="context.Args" @bind-Value="_value">
                    <option value="val1">Value 1</option>
                    <option value="val2">Value 2</option>
                    <option value="val3">Value 3</option>
                    <option value="val4">Value 4</option>
                    <option value="val5">Value 5</option>
                </SelectField>
            </EditForm>
        </Template>
    </Story>

    <Story Name="Help text">
        <Arguments>
            <Arg For="x => x.HelpText" Value="_helpText" />
        </Arguments>
        <Template>
            <EditForm Context="form" Model="_value">
                <SelectField TValue="string" @attributes="context.Args" @bind-Value="_value">
                    <option value="val1">Value 1</option>
                    <option value="val2">Value 2</option>
                    <option value="val3">Value 3</option>
                    <option value="val4">Value 4</option>
                    <option value="val5">Value 5</option>
                </SelectField>
            </EditForm>
        </Template>
    </Story>

    <Story Name="Invalid">
        <Template>
            <EditForm Context="form" EditContext="_editContext">
                <SelectField TValue="string" @attributes="context.Args" @bind-Value="_invalidValue">
                    <option value="val1">Value 1</option>
                    <option value="val2">Value 2</option>
                    <option value="val3">Value 3</option>
                    <option value="val4">Value 4</option>
                    <option value="val5">Value 5</option>
                </SelectField>
            </EditForm>
        </Template>
    </Story>
</Stories>

@code {
    string? _value = null;
    string? _invalidValue = "val2";
    string _helpText = "Help me!";
    EditContext? _editContext;    

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_invalidValue!);
        var messageStore = new ValidationMessageStore(_editContext);
        messageStore.Add(() => _invalidValue!, "You ain't valid son");
    }
}