@attribute [Stories("Components/Align")]

<Stories TComponent="Align">
    <Story Name="Default">
        <Template>
            <Align @attributes="context.Args" style="height: 100px">
                <p>Move me around!</p>
            </Align>
        </Template>
    </Story>
</Stories>