@attribute [Stories("Components/Card")]

<Stories TComponent="Card">
    <ArgType For="_ => _.Color" Control="ControlType.Select" DefaultValue="Color.Default" />

    <Story Name="Default">
        <Arguments>
            <Arg For="x => x.Title" Value="_title" />
            <Arg For="x => x.Content" Value="_content" />
            <Arg For="x => x.Header" Value="_header" />
        </Arguments>
        <Template>
            <Card @attributes="context.Args"></Card>
        </Template>
    </Story>

    <Story Name="SVG Header">
        <Arguments>
            <Arg For="x => x.Title" Value="_title" />
            <Arg For="x => x.Content" Value="_content" />
        </Arguments>
        <Template>
            <Card HeaderResponsive>
                <Title>Title</Title>
                <Content>Some text here</Content>
                <Header>
                    <svg viewBox="600 400 300 300" class="responsive small fill">
                        <rect fill="#ff7700" width="1600" height="900"></rect>
                        <polygon fill="#cc0000" points="957 450 539 900 1396 900"></polygon>
                        <polygon fill="#aa0000" points="957 450 872.9 900 1396 900"></polygon>
                        <polygon fill="#d6002b" points="-60 900 398 662 816 900"></polygon>
                        <polygon fill="#b10022" points="337 900 398 662 816 900"></polygon>
                        <polygon fill="#d9004b" points="1203 546 1552 900 876 900"></polygon>
                        <polygon fill="#b2003d" points="1203 546 1552 900 1162 900"></polygon>
                        <polygon fill="#d3006c" points="641 695 886 900 367 900"></polygon>
                        <polygon fill="#ac0057" points="587 900 641 695 886 900"></polygon>
                        <polygon fill="#c4008c" points="1710 900 1401 632 1096 900"></polygon>
                        <polygon fill="#9e0071" points="1710 900 1401 632 1365 900"></polygon>
                        <polygon fill="#aa00aa" points="1210 900 971 687 725 900"></polygon>
                        <polygon fill="#880088" points="943 900 1210 900 971 687"></polygon>
                    </svg>
                </Header>
            </Card>
        </Template>
    </Story>
</Stories>

@code
{
    RenderFragment _title = @<text>Title</text>;
    RenderFragment _content = @<text>Some text here</text>;
    RenderFragment _header = @<text>Header</text>;
}