@attribute [Stories("Components/Divider")]

<Stories TComponent="Divider">
    <Story Name="Default">
        <Template>
            <div>Some text here</div>
            <Divider @attributes="context.Args" />
            <div>Some text here</div>
            <Divider @attributes="context.Args" />
            <div>Some text here</div>
        </Template>
    </Story>
</Stories>