@attribute [Stories("Components/Grid")]

<Stories TComponent="Grid">
    <Story Name="Default">
        <Template>
            <style>
                .fill {
                    background: var(--primary);
                    height: 3em;
                }
            </style>
            <Grid @attributes="context.Args">
                <div class="fill s1">1</div>
                <div class="fill s1">2</div>
                <div class="fill s1">3</div>
                <div class="fill s1">4</div>
                <div class="fill s1">5</div>
                <div class="fill s1">6</div>
                <div class="fill s1">7</div>
                <div class="fill s1">8</div>
                <div class="fill s1">9</div>
                <div class="fill s1">10</div>
                <div class="fill s1">11</div>
                <div class="fill s1">12</div>

                <div class="fill s2">1</div>
                <div class="fill s2">2</div>
                <div class="fill s2">3</div>
                <div class="fill s2">4</div>
                <div class="fill s2">5</div>
                <div class="fill s2">6</div>

                <div class="fill s3">1</div>
                <div class="fill s3">2</div>
                <div class="fill s3">3</div>
                <div class="fill s3">4</div>

                <div class="fill s4">1</div>
                <div class="fill s4">2</div>
                <div class="fill s4">3</div>

                <div class="fill s6">1</div>
                <div class="fill s6">2</div>

                <div class="fill s12">1</div>

            </Grid>
        </Template>
    </Story>
</Stories>