@attribute [Stories("Components/Navigations")]

<Stories TComponent="Navigation">
    <Story Name="Default">
        <Template>
            <Navigation @attributes="context.Args">
                <Button>Button</Button>
                <Chip>Chip</Chip>
                <i>home</i>
                <img class="circle" src="https://www.beercss.com/beer-and-woman.svg">
            </Navigation>
            <Navigation @attributes="context.Args">
                <Button>Button</Button>
                <div class="max">max</div>
                <Chip>Chip</Chip>
                <i>home</i>
                <img class="circle" src="https://www.beercss.com/beer-and-woman.svg">
            </Navigation>
            <Navigation @attributes="context.Args">
                <Button>Button</Button>
                <Chip>Chip</Chip>
                <div class="max">max</div>
                <i>home</i>
                <img class="circle" src="https://www.beercss.com/beer-and-woman.svg">
            </Navigation>
            <Navigation @attributes="context.Args">
                <div class="max">max</div>
                <Button>Button</Button>
                <Chip>Chip</Chip>
                <i>home</i>
                <img class="circle" src="https://www.beercss.com/beer-and-woman.svg">
            </Navigation>
        </Template>
    </Story>
</Stories>