@attribute [Stories("Components/Scroll")]

<Stories TComponent="Scroll">
    <Story Name="Chips">
        <Template>
            <Scroll @attributes="context.Args">
                <Chip>Suggestion</Chip>
                <Chip>Suggestion</Chip>
                <Chip Fill>Selected</Chip>
                <Chip Fill>Selected</Chip>
                <Chip>Suggestion</Chip>
                <Chip Fill>Selected</Chip>
                <Chip>Suggestion</Chip>
                <Chip>Suggestion</Chip>
                <Chip>Suggestion</Chip>
                <Chip>Suggestion</Chip>
                <Chip>Suggestion</Chip>
                <Chip>Suggestion</Chip>
            </Scroll>
        </Template>
    </Story>
    <Story Name="Images">
        <Template>
            <Scroll @attributes="context.Args">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
                <img class="small-width small-height" src="/favicon.png">
            </Scroll>
        </Template>
    </Story>
    <Story Name="Cards">
        <Template>
            <Scroll @attributes="context.Args">
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
                <Card Border class="small-width">
                    <Title>Title </Title>
                    <Content>
                        <p>Some text here</p>
                    </Content>
                    <Nav>
                        <Button>Button</Button>
                    </Nav>
                </Card>
            </Scroll>
        </Template>
    </Story>
</Stories>