@attribute [Stories("Components/Spacer")]

<Stories TComponent="Spacer">
    <Story Name="Default">
        <Template>
            <div>Some text here</div>
            <Spacer @attributes="context.Args" />
            <div>Some text here</div>
            <Spacer @attributes="context.Args" />
            <div>Some text here</div>
        </Template>
    </Story>
</Stories>