@attribute [Stories("Components/Toolbar")]

<Stories TComponent="Toolbar">
    <Story Name="Default">
        <Template>
            <Toolbar @attributes="context.Args">
                <Button><i>home</i></Button>
                <Button><i>edit</i></Button>
                <Button><i>upload</i></Button>
                <Button><i>download</i></Button>
            </Toolbar>
        </Template>
    </Story>
</Stories>